/**
'react-date-range-ts/dist/theme/default.css' 의 커스텀 파일
커스텀에 필요한 className만 가져와서 작업함
 */

.rdrCalendarWrapper{
    color: #000000;
    font-size: 12px;
    line-height: 16px;
    border: 2px solid #000000;
    border-radius: 4px;
}

.rdrMonthAndYearWrapper {
    justify-content: center;
    align-items: center;
    height: 50px;
    /* padding-top: 10px; */
    background: #f9f368;
}

.rdrMonthAndYearPickers{
    font-weight: 600;
    flex: 0 1 auto;
    width: 64px;
}

.rdrNextPrevButton {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0 0.833em;
    padding: 0;
    border: 2px solid #000000;
    border-radius: 100px;
    background: #FFFFFF
}

/* .rdrNextPrevButton:hover{
    background: #E1E7F0;
} */

.rdrNextPrevButton i {
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    text-align: center;
    border-style: solid;
    margin: auto;
    transform: translate(-3px, 0px);
}

.rdrPprevButton i {
    border-width: 4px 6px 4px 4px;
    border-color: transparent #000000 transparent transparent;
    transform: translate(-3px, 0px);
}

.rdrNextButton i {
    margin: 0 0 0 2px;
    border-width: 4px 4px 4px 6px;
    border-color: transparent transparent transparent #000000;
    transform: translate(3px, 0px);
}

.rdrWeekDays {
    padding: 0 0.833em;
}

.rdrMonth{
    padding: 0 0.833em 1.666em 0.833em;
}

.rdrMonth .rdrWeekDays {
    padding: 0;
}

.rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName{
    display: none;
}

.rdrWeekDay {
    font-weight: 400;
    line-height: 3.000em;
    color: #000000;
}

.rdrDay {
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    padding: 0;
    line-height: 36px;
    height: 36px;
    text-align: center;
    color: #000000;
    font-weight: 300;
}

.rdrDay:focus {
    outline: 0;
}

.rdrDayNumber {
    outline: 0;
    font-weight: 300;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rdrDayToday .rdrDayNumber span{
    font-weight: 500
}

.rdrDayToday .rdrDayNumber span:after{
    content: '';
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 16px;
    height: 2px;
    border-radius: 2px;
    background: #7ADFBB;
}

.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span:after,.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after,.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after,.rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span:after{
    background: #fff;
}

.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,.rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,.rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span{
    /*color: rgba(255, 255, 255, 0.85);*/
    font-weight: 500;
}

.rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge{
    background: rgba(249, 243, 104, 0.5);
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 2px;
}

.rdrSelected{
    left: 2px;
    right: 2px;
}

.rdrStartEdge{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    left: 8px;
}

.rdrEndEdge{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    right: 8px;
}

.rdrStartEdge:after, .rdrEndEdge:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #F9F368;
    border: 1px solid #000000;
    border-radius: 100px;
}

.rdrStartEdge:after {
    margin: 0 4px 0 -4px;
}

.rdrEndEdge:after {
    margin: 0 -4px 0 4px;
}

.rdrStartEdge.rdrEndEdge:after {
    margin: 0 2px 0 -2px;
}

.rdrSelected{
    border-radius: 1.042em;
}

.rdrDayStartOfMonth .rdrInRange, .rdrDayStartOfMonth .rdrEndEdge, .rdrDayStartOfWeek .rdrInRange, .rdrDayStartOfWeek .rdrEndEdge{
    border-top-left-radius: 1.042em;
    border-bottom-left-radius: 1.042em;
    left: 2px;
}

.rdrDayEndOfMonth .rdrInRange,  .rdrDayEndOfMonth .rdrStartEdge,  .rdrDayEndOfWeek .rdrInRange,  .rdrDayEndOfWeek .rdrStartEdge{
    border-top-right-radius: 1.042em;
    border-bottom-right-radius: 1.042em;
    right: 2px;
}

.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after{
    content: '';
    border: 1px solid #F9F368;
    border-radius: 1.333em;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: 0px;
    right: 0px;
    background: transparent;
}

.rdrDayPassive{
    pointer-events: none;
}

.rdrDayPassive .rdrDayNumber span{
    color: #7A7A7A;
}

.rdrDayPassive .rdrInRange, .rdrDayPassive .rdrStartEdge, .rdrDayPassive .rdrEndEdge, .rdrDayPassive .rdrSelected, .rdrDayPassive .rdrDayStartPreview, .rdrDayPassive .rdrDayInPreview, .rdrDayPassive .rdrDayEndPreview{
    display: none;
}

.rdrDayDisabled {
    /*background-color: rgb(248, 248, 248);*/
}

.rdrDayDisabled .rdrDayNumber span{
    color: #C4C4C4;
}

.rdrDayDisabled .rdrInRange, .rdrDayDisabled .rdrStartEdge, .rdrDayDisabled .rdrEndEdge, .rdrDayDisabled .rdrSelected, .rdrDayDisabled .rdrDayStartPreview, .rdrDayDisabled .rdrDayInPreview, .rdrDayDisabled .rdrDayEndPreview{
    filter: grayscale(100%) opacity(60%);
}
