	[data-rsbs-overlay] {
		border-top-left-radius: 24px;
		border-top-right-radius: 24px;
		display: flex;
		background: #fff;
		background: var(--rsbs-bg, #fff);
		flex-direction: column;
		height: 0px;
		height: var(--rsbs-overlay-h, 0px);
		transform: translate3d(0, 0px, 0);
		transform: translate3d(0, var(--rsbs-overlay-translate-y, 0px), 0);
		will-change: height;

		/* custom */
		width: 100%;
		max-width: 480px;
		min-width: 320px;
		max-height: calc(100vh - 64px - env(safe-area-inset-top));
	}

	[data-rsbs-overlay]:focus {
		outline: none;
	}

	[data-rsbs-is-blocking="false"] [data-rsbs-overlay] {
		box-shadow: 0 -5px 60px 0 rgba(38, 89, 115, 0.11), 0 -1px 0 rgba(38, 89, 115, 0.05);
	}

	[data-rsbs-overlay],
	[data-rsbs-root]:after {
		/* custom */
		margin: auto auto 0 auto;
	}

	[data-rsbs-overlay],
	[data-rsbs-backdrop],
	[data-rsbs-root]:after {
		z-index: 99;
		-ms-scroll-chaining: none;
		overscroll-behavior: none;
		touch-action: none;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
	}

	[data-rsbs-backdrop] {
		top: -60px;
		bottom: -60px;
		background-color: rgba(0, 0, 0, 0.2);
		background-color: var(--rsbs-backdrop-bg, rgba(0, 0, 0, 0.2));
		will-change: opacity;
		cursor: pointer;
		opacity: 1;
	}