/**
'react-date-range-ts/dist/theme/default.css' 의 커스텀 파일
커스텀에 필요한 className만 가져와서 작업함
 */

.request-calendar.rdrCalendarWrapper{
    color: #000000;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
}

.request-calendar .rdrMonthAndYearWrapper {
    justify-content: center;
    align-items: center;
    height: 50px;
    /* padding-top: 10px; */
    background: #f9f368;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.request-calendar .rdrMonthAndYearPickers{
    font-weight: 600;
    flex: 0 1 auto;
    width: 64px;
}

.request-calendar .rdrNextPrevButton {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0 0.833em;
    padding: 0;
    border: 2px solid #000000;
    border-radius: 100px;
    background: #FFFFFF;
}

.request-calendar .rdrNextPrevButton i {
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    text-align: center;
    border-style: solid;
    margin: auto;
    transform: translate(-3px, 0px);
}

.request-calendar .rdrPprevButton i {
    border-width: 4px 6px 4px 4px;
    border-color: transparent #000000 transparent transparent;
    transform: translate(-3px, 0px);
}

.request-calendar .rdrNextButton i {
    margin: 0 0 0 2px;
    border-width: 4px 4px 4px 6px;
    border-color: transparent transparent transparent #000000;
    transform: translate(3px, 0px);
}

.request-calendar .rdrWeekDays {
    padding: 0 0.833em;
}

.request-calendar .rdrMonth{
    padding: 0 0.833em 1.666em 0.833em;
}

.request-calendar .rdrMonth .rdrWeekDays {
    padding: 0;
}

.request-calendar .rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName{
    display: none;
}

.request-calendar .rdrWeekDay {
    font-weight: 400;
    line-height: 3.000em;
    color: #000000;
}

.request-calendar .rdrDay {
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    padding: 0;
    line-height: 36px;
    height: 36px;
    text-align: center;
    color: #000000;
    font-weight: 300;
    position: relative;
}

.request-calendar .rdrDay:focus {
    outline: 0;
}

.request-calendar .rdrDayNumber {
    outline: 0;
    font-weight: 300;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.request-calendar .rdrDayToday .rdrDayNumber span{
    font-weight: 500
}

.request-calendar .rdrDayToday .rdrDayNumber span:after{
    content: '';
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 16px;
    height: 2px;
    border-radius: 2px;
    background: #7ADFBB;
}

.request-calendar .rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span:after,
.request-calendar .rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after,
.request-calendar .rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after,
.request-calendar .rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span:after{
    background: #fff;
}

.request-calendar .rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.request-calendar .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.request-calendar .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.request-calendar .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span{
    /*color: rgba(255, 255, 255, 0.85);*/
    font-weight: 500;
}

/* 선택 된 날짜 배경 옅은 노랑 컬러 */
.request-calendar .rdrSelected,
.request-calendar .rdrInRange,
.request-calendar .rdrStartEdge,
.request-calendar .rdrEndEdge{
    background: rgba(249, 243, 104, 0.5);
    position: absolute;
    width: 100%;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 선택 된 첫 날짜 좌측 배경컬러 지우기 */
.request-calendar .rdrStartEdge{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-image: linear-gradient(to right, white 50%, transparent 50%);
}

/* 선택 된 마지막 날짜 우측 배경컬러 지우기 */
.request-calendar .rdrEndEdge{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-image: linear-gradient(to left, white 50%, transparent 50%);
}

/* 날짜 하나만 선택 되었을 경우(시작하는 날이면서 마지막 날) 배경컬러 전부 지우기 */
.request-calendar .rdrStartEdge.rdrEndEdge{
    background-image: linear-gradient(to right, white 50%, white 50%);
}

/* 첫 날짜, 마지막 날짜 원 표시 */
.request-calendar .rdrStartEdge:after,
.request-calendar .rdrEndEdge:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #F9F368;
    border: 1px solid #000000;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.request-calendar .rdrSelected{
    border-radius: 1.042em;
}

.request-calendar .rdrDayStartOfMonth .rdrInRange,
.request-calendar .rdrDayStartOfMonth .rdrEndEdge,
.request-calendar .rdrDayStartOfWeek .rdrInRange,
.request-calendar .rdrDayStartOfWeek .rdrEndEdge{
    border-top-left-radius: 1.042em;
    border-bottom-left-radius: 1.042em;
}

.request-calendar .rdrDayEndOfMonth .rdrInRange,
.request-calendar .rdrDayEndOfMonth .rdrStartEdge,
.request-calendar .rdrDayEndOfWeek .rdrInRange,
.request-calendar .rdrDayEndOfWeek .rdrStartEdge{
    border-top-right-radius: 1.042em;
    border-bottom-right-radius: 1.042em;
}

.request-calendar .rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after{
    content: '';
    border: 1px solid #F9F368;
    border-radius: 1.333em;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: 0px;
    right: 0px;
    background: transparent;
}

.request-calendar .rdrDayPassive{
    pointer-events: none;
}

.request-calendar .rdrDayPassive .rdrDayNumber span{
    color: #7A7A7A;
}

.request-calendar .rdrDayPassive .rdrInRange,
.request-calendar .rdrDayPassive .rdrStartEdge,
.request-calendar .rdrDayPassive .rdrEndEdge,
.request-calendar .rdrDayPassive .rdrSelected,
.request-calendar .rdrDayPassive .rdrDayStartPreview,
.request-calendar .rdrDayPassive .rdrDayInPreview,
.request-calendar .rdrDayPassive .rdrDayEndPreview{
    display: none;
}

.request-calendar .rdrDayDisabled {
    /*background-color: rgb(248, 248, 248);*/
}

.request-calendar .rdrDayDisabled .rdrDayNumber span{
    color: #C4C4C4;
}

.request-calendar .rdrDayDisabled .rdrInRange,
.request-calendar .rdrDayDisabled .rdrStartEdge,
.request-calendar .rdrDayDisabled .rdrEndEdge,
.request-calendar .rdrDayDisabled .rdrSelected,
.request-calendar .rdrDayDisabled .rdrDayStartPreview,
.request-calendar .rdrDayDisabled .rdrDayInPreview,
.request-calendar .rdrDayDisabled .rdrDayEndPreview{
    filter: grayscale(100%) opacity(60%);
}
